.rcard-container {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsla(28, 25%, 56%, 0.402);
    border-radius: 10px;
    box-shadow: 0 0 10px #0000001a;
    overflow: hidden;
    border-left: 4px solid hsl(27, 100%, 50%);
    background: rgba(255, 255, 255, 0.1); /* Semi-transparent background */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* Shadow for depth */
    backdrop-filter: blur(100px); /* Blur effect */
    -webkit-backdrop-filter: blur(10px); /* Safari support */
    color: #fff; /* Text color */
}

.rcard-title{
    color: white;
    font-size: 0.7rem;
    margin: 1rem;
    color: #FBAC1B;
}

.rcard-desc{
    color: white;
    font-weight: lighter;
    font-size: 1rem;
    margin: 1rem;
}

.rcard-detail{
    color: white;
    font-size: 1rem;
    margin: 1rem;
}

.rcard-detail h2{
    font-size: 1.2rem;
    display: inline;
}

.rcard-genre{
    color: black;
    font-size: 1rem;
    margin: 1rem;
}

.rcard-text{
    width: 60%;
}

.rcard-image{
    
    rotate: 0deg;
    transform: scale(1);
    width: 40%;
    height: 100%;
    object-fit: fill;
    border-radius: 10px;
    transition: 0.2s;
    transition: transform 0.3s ease-in-out  rotate 0.3s ease-in-out;
}

.rcard-image img{
    width: 100%;
    height: 100%;
}

.rcard-image img{
    width: 100%;
    height: 100%;
}

.rcard-image:hover{
    rotate: -10deg;
    transform: translate(2rem, 2rem) scale(1.25);
}

.rcard-image:hover  .rcard-title {
    opacity: 0 !important; /* Set opacity to 0 on hover */
}